function createRealEstateButtons() {
    let buttonContainer = $('<div></div>')
        .attr({'class': 'd-flex flex-row mt-1', 'id': 'realEstateButtons'})
        .appendTo('#container');

    // 부동산 사기 유형 버튼
    $('<button></button>')
        .attr({'class': 'btn btn-primary mr-3', 'id': 'RealEstateScam'})
        .css('margin-right', '12px')
        .text('부동산 사기 유형')
        .appendTo(buttonContainer)
        .on('click', function() {
            // 버튼 클릭 시 수행될 동작
        });

    // 부동산 기초정보 버튼
    $('<button></button>')
        .attr({
            'class': 'btn btn-primary dropdown-toggle',
            'data-bs-toggle': 'dropdown',
            'id': 'RealEstateTerms'
        })
        .css('margin-right', '12px')
        .text('부동산 기초정보')
        .appendTo(buttonContainer);
    
        let dropdownMenu = $('<div></div>')
        .attr({'class': 'dropdown-menu', id: mark + 'SubButtonContainer'})
        .appendTo(buttonContainer);

    let subButtons = [
        { text: '전세', id: mark + 'Jeonse' },
        { text: '월세', id: mark + 'MonthlyRent' },
        { text: '팁', id: mark + 'Tips' },
        { text: '주의사항', id: mark + 'Warnings' },
    ];

    subButtons.forEach(function(buttonInfo) {
    $('<button></button>')
        .attr({
            'class': 'dropdown-item btn btn-primary',
            'type': 'button',
            'id': buttonInfo.id
        })
        .text(buttonInfo.text)
        .appendTo(dropdownMenu)
        .on('click', function() {
            if (buttonInfo.text === '전세') {
                createBootstrapCardWithButtons('전세');
            }
            else if (buttonInfo.text === '월세') {
                createBootstrapCardWithButtons('월세');
            } 
        });
    });
}






function displayRealEstateInfo(detailKey, type) {
    const details = (type === '전세') ? jeonseDetails : wolseDetails;

    // 새로운 Bootstrap Card를 생성하여 detail을 표시합니다.
    let cardContainer = $('<div></div>').attr('class', 'card bg-success text-white w-75 mt-3');
    let cardBody = $('<div></div>').attr('class', 'card-body');
    let cardText = $('<p></p>').attr('class', 'card-text').html(details[detailKey]);  // .text() 대신 .html() 사용
    cardBody.append(cardText);
    cardContainer.append(cardBody);
    
    // #container에 새로운 카드를 추가합니다.
    $('#container').append(cardContainer);
    createRealEstateButtons();
}

// 페이지 로딩 시 기본적으로 부동산 버튼을 생성
$(document).ready(function() {
    createRealEstateButtons();
});